@font-face {
    font-family: "TTLakes-Regular"; 
    src: url("../Pr1/TTLakes-Regular.woff") format('woff');
    font-weight: normal; 
    font-style: normal; 
}

@font-face{
    font-family: "TTLakes-Regular"; 
    src: url("../Pr1/TTLakes/TTLakes-Bold.woff") format('woff');
    font-weight: bold; 
    font-style: normal;
}

body {
    width: 100%;
    background-color: #F8F8F8;
    font-family: 'TTLakes-Regular';
    color: #1B1C21;
    margin: 0px;
}

header {
    width: 100%;
    padding-right: 10px;
}

.header-icon {
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

.left-menu {
    font-size: 16px;
    font-weight: 500;
    position: fixed; /* или absolute, если нужно позиционирование относительно родителя */
    top: 0;
    left: 0;
    width: 320px;
    height: 100%; 
    z-index: 2; 
    background-color: #FFFFFF; 
}

.h_left-menu {
    width: 320px;
    height: 71px;
    margin-bottom: 40px;
}

.left-menu__top-button, .left-menu__bottom-button {
    width:40px;
    height: 40px;
}

.left-menu__top-button{
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

.left-menu__bottom-group{
    margin-left: 20px;
}

.left-menu__bottom-button {
    margin-right: 20px;
}

.left-menu__top-logo {
    width: 97px;
    height: 51px;
}

.left-menu__top-button__search {
    float: right;
    margin-right: 20px;
}

.left-menu__link {
    position: relative;
    display: inline-block;
    color: #1B1C21;
    font-weight: 500;
    height: 24px;
    margin-bottom: 20px;
}

.left-menu__link-list {
    display: flex;
    flex-direction: column;
}

.left-menu__link-a {
    margin: 20px 20px 0;
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход для цвета */
}

.left-menu__link ::before {
    content: ""; /* Создаем пустой контент для полоски */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Сдвигаем полоску влево */
    top: 50%; /* Центрируем полоску по вертикали */
    transform: translateY(-50%); /* Выравниваем по центру */
    width: 4px; /* Ширина полоски */
    height: 32px; /* Высота полоски */
    border-radius: 0 4px 4px 0;
    background-color: #41F6D7; /* Цвет полоски */
    opacity: 0; /* Скрываем полоску по умолчанию */
    transition: opacity 0.3s; /* Плавный переход для появления */
}

.left-menu__link:hover .left-menu__link-a::before {
    opacity: 3; /* Показываем полоску при наведении */
}

.left-menu__link :hover {
    color: #7E7E82;
}

.left-menu__phone-number {
    font-family: "TTLakes-Regular"; 
    font-size: 24px;
    font-weight: 700;
}

.left-menu__bottom-button {
    background: none;       /* Убираем фон */
    border: none;          /* Убираем рамку */
    color: inherit;        /* Устанавливаем цвет текста как у родительского элемента */
    font: inherit;         /* Устанавливаем шрифт как у родительского элемента */
    padding: 0;            /* Убираем отступы */
    cursor: pointer;       /* Устанавливаем курсор как указатель при наведении */
    text-decoration: none;  /* Убираем подчеркивание */
}

.left-menu__bottom-group {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    bottom: 0;
}

.icon-4, .icon-1 {
    margin-right: 20px;
}

.group-label {
    height: 50.81px;
    width: 96.55px;
}

.icon-group, .icon-group-h {
    margin-left: auto;
}

.icon-text {
    margin-right: 10px;
}

.part {
    margin-right: 10px;
}

.full-h, .icon-group-h, .text-theme, .part {
    display: flex;
    align-items: center;
}
/*линия перед надписью "Услуги и сервисы"*/
.h-line {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
}

.work-list {
    width: auto; /* Ширина контейнера */
    white-space: nowrap;

}

.work-list::-webkit-scrollbar {
    display: none;
}

.link-list {
    list-style-type: none; /* Удаляем маркеры */
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

.link-list li {
    display: inline-block; /* Элементы списка в одну строку */
    padding: 10px; /* Отступы внутри элементов */
}

.work-list a:hover {
    padding: 10px;
    border: solid #B8FFEC 2px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.work-list a {
    padding: 10px;
    border: solid #F8F8F8 2px;
    border-radius: 6px;
}

.link-list, .read-next {
    font-size: 16px;
    margin: 10px;
    width: auto;
}

.text-content {
    margin-left: 10px;
}

.main-group__group-1 {
    margin: 24px;
    height: auto;
    width: auto;
    padding: 0px;
}

.read-next {
    background: none; /* Убираем фоновый цвет */
    border: none; /* Убираем рамку */
    color: inherit; /* Унаследуем цвет текста от родителя */
    font: inherit; /* Унаследуем шрифт от родителя */
    cursor: pointer; /* Указатель при наведении */
    padding: 0; /* Убираем отступы */
    margin: 0px;
    font-weight: bold;
}

@media (min-width: 321px)  {
    .line-1, .line-3 {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
}

@media (max-width: 768px) {
    .text-content, .main-content__image-1 {
        width: 100%;
    }
    .image-1 {
        min-width: 100%;
    }
}

@media (max-width: 1120px) {
    .header {
        display: flex;
        align-items: center; 
        background-color: #FFFFFF;
        height: 88px;
        box-shadow: 0 1px #D9FFF5;
    }
    .header-text {
        display: none;
    }
    .icon-group-h {
        display: none;
    }
    .work-list {
        width: auto; /* Ширина контейнера */
        overflow-x: auto;
        overflow-y: hidden; 
        white-space: nowrap; /* Запрещаем перенос текста на следующую строку */
    }
    .link-list__link {
        display: inline-block;
    }
}

@media (min-width: 1120px)  {
    header {
        display: none;
    }
    .h-icon {
        display: inline-block;
    }
    .link-list {
        display: flex; /* Используем flexbox для списка */
        flex-wrap: wrap;
    }
    .link-list__link {
        display: block;
    }
}

@media (max-width: 320px) {
    .icon-4, .icon-2, .icon-3, .line-1, .line-2 {
        display: none; 
    }
    .line-3 {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
}

@media (min-width: 768px) {
    .content-text-group__group-1 { 
        overflow: hidden;
        margin-right: auto;
    }
    .content-text-group__group-1 {
        float: left;
        width: 50%;
    }
    .image-1 {
        min-width: 100%;
    }
    .main-content__image-1 {
        float: right;
        width: 50%;
        height: auto;
    }
}
